* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    width: 100%;
    background-color:gold;
    justify-content: center;
}

.titulo-princ{
    font-size: 35px;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    padding-top: 20px;
}

.formulario{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 25px;
}

.lista{
    border: solid black;
    justify-content: space-between;
    width: 600px;
}

.lista p {
    font-size: 25px;
    margin-bottom: 20px;
}

.inputs{
    border: solid 2px;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.inputs input {
    margin-bottom: 20px;
    width: 450px;
    height: 30px;
}


.botonCalcu{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color:aquamarine;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px;
    font-size: 18px;
    transition: 2s;
}
.calculadora:hover{
    background-color: cornflowerblue;
    color: white;
}

.visualCalculos{
    display: flex;
    background-color: cornflowerblue;
}

.op-list {
    display: inline;
    background-color: beige;
    padding-left: 25px;
}

.op-list button{
    margin-left: 70px;
    justify-content:end;
}

