* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    width: 100%;
    height: 500px;
    background-color:gold;
    border: solid 2px black;
    justify-content: center;
}

.titulo-princ{
    font-size: 35px;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    padding-top: 20px;
}

.boton-calcu{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color:aquamarine;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px;
    font-size: 18px;
    transition: 2s;
}
.calculadora:hover{
    background-color: cornflowerblue;
    color: white;
}

